$font-size-main: 18px;
$font_family_main: 'Droid Regular';
$font_family_2: 'Viga';
$width-container: 1170px;
$color_main: #fff;
$color_main_dark: #2D2424;
$background_color_light: #EFE9E9;
$botton_bg_color_light: #DEC1B4;
$botton_bg_color_dark: #91765E;
